h1 {
  font-size: 5em;
}

.result {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  width: 100%; 
}

.sample, .blank-sample {
  margin: 1em;
  height: 1em;
}

.meditation {
  margin: 1em;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

button {
  background: #fdfdfd;
  border: 1px solid #bbb;
  border-radius: 10px;
  font-size: 1em;
  height: 2em;
  line-height: .5em;
  margin: .5em;
  width: 30%;
}

.question {
  width: 50%;
  line-height: 1em;
  height: 3.5em;
}

input {
  font-size: 1em;
  line-height: 1.5em;
  height: 2em;
  margin-left: .5em;
  width: 33%;
}

@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */

  h1 {
    font-size: 3em;
    margin-bottom: 1.2em;
  }

  button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin-left: 10%;
    width: 60%;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #bbb;
    display: block;
    margin-left: 10%;
    width: 42%;
  }

  .before-question, .result {
    font-size: .5em;
    line-height: .5em;
    height: 1.5em; 
  }

  .sample, .blank-sample {
    margin-left: 10%;
    height: 2.5em;
  }

  .meditation {
    position: static;
    margin-top: 3em;
  }

  .result {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    width: 100%; 
  }
}